.video-wrap {
  background: #fafafa; }

.video-wrap .player {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000; }

.video-wrap .mask {
  width: 100%;
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1; }

.video-wrap .vr-banner {
  position: absolute;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.video-wrap .vr-banner .zmdi {
  color: #fff; }

.video-wrap .vr-banner .zmdi-360vr {
  color: #fff;
  font-size: 3em;
  margin: 0 10px; }

.video-wrap .vr-banner .split {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  cursor: pointer;
  width: 44px;
  height: 44px; }

.video-wrap .vr-banner .split.active {
  background: #0088cc; }

.video-wrap .vr-banner .split.active .zmdi {
  transform: scale(1.1);
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.video-wrap .vr-banner .split:hover:not(.active) {
  background: rgba(0, 136, 204, 0.6);
  opacity: 1; }

.video-wrap .vr-banner .split .zmdi {
  font-size: 1.5em;
  opacity: 0.7;
  transform: scale(0.9);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
