@keyframes flash {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column; }

.App.data-ready {
  animation: flash 1.5s 1 0s; }

.App.fake .container .app-body .player-fake {
  width: 800px;
  height: 450px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center; }

.App.fake .container .App-intro .cameras-panel {
  justify-content: flex-start;
  height: 140px; }

.App.fake .container .App-intro .cameras-panel .camera {
  width: 147px;
  height: 84px;
  background: #eee;
  margin-left: 20px; }

.App.fake .container .App-intro .cameras-panel .camera .overlay {
  opacity: 0; }

.App.fake .container .App-details {
  padding: 1em; }

.App.fake .container .App-details .title {
  width: 250px;
  background: #ddd;
  border-radius: 100px;
  color: #ddd;
  font-size: 1em; }

.App.fake .container .App-details .sub-title {
  width: 200px;
  height: 20px;
  background: #eee;
  border-radius: 100px;
  color: #eee;
  font-size: 1em; }

.App.fake .container .App-details .description {
  width: 500px;
  height: 15px;
  background: #eee;
  border-radius: 100px;
  color: #eee;
  font-size: 1em; }

.App.fake .container .App-details .right .right-fake {
  width: 200px;
  background: #eee;
  height: 10px;
  border-radius: 100px; }

.App .container {
  width: 800px; }

.App .container .App-header {
  margin-left: 2px;
  width: calc(100% - 4px);
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 10px 1em;
  box-sizing: border-box; }

.App .container .App-header img {
  width: 170px;
  height: 25px; }

.App .container .app-body {
  box-sizing: border-box;
  box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.4), 0 -2px 5px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2; }

.App .container .App-intro {
  background: #fff;
  z-index: 1;
  position: relative;
  margin-left: 2px;
  width: calc(100% - 4px);
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.App .container .App-intro .cameras-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px; }

.App .container .App-details {
  padding: 1em;
  margin-top: 1em;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 1.5em;
  font-weight: 100; }

.App .container .App-details .left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd; }

.App .container .App-details .title {
  color: #333;
  font-size: 1.3em;
  font-weight: 800; }

.App .container .App-details .sub-title {
  font-size: 14px;
  color: #555;
  margin-left: 1em; }

.App .container .App-details .description {
  font-size: 16px;
  color: #222;
  text-align: left;
  margin-top: 10px; }

.App .container .App-details .right {
  text-align: left;
  padding-top: 5px;
  font-size: 13px;
  color: #222;
  font-weight: 100; }

.App .container .App-share-info {
  padding: 1em;
  margin-top: 1em;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 1.5em;
  font-weight: 100; }

.App .container .App-share-info .share-info {
  text-align: left;
  color: #222;
  font-size: 14px; }

.App .container .App-share-info .share-info .share-header {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between; }

.App .container .App-share-info .share-info .share-message {
  padding: 10px 0;
  text-align: center;
  font-size: 1.3em;
  font-style: italic;
  border-radius: 0 8px 0px 8px;
  text-align: left;
  border-top: 1px solid #ddd; }

.App .container .App-share-info .share-info .email {
  color: #0088cc; }

@media only screen and (min-device-width: 412px) and (max-device-width: 435px) and (min-device-height: 732px) and (max-device-height: 773px) and (orientation: portrait) {
  .App.fake .container .app-body .player-fake {
    width: 100%;
    height: calc(100vw * 9/16);
    background: #000; }
  .App.fake .container .App-intro .cameras-panel {
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box; }
  .App.fake .container .App-intro .cameras-panel .camera {
    background: #444;
    margin: 0; }
  .App.fake .container .App-details {
    padding: 1em; }
  .App.fake .container .App-details .title {
    margin-bottom: 10px; }
  .App.fake .container .App-details .description {
    width: 320px; }
  .App .container {
    width: 100%; }
  .App .App-header {
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100% !important;
    margin: 0 !important; }
  .App .App-header img {
    margin: 0 !important;
    width: 118px !important;
    height: 16px !important; }
  .App .App-header .right {
    padding-bottom: 0 !important; }
  .App .app-body {
    box-shadow: 0 3px 12px 0px rgba(0, 0, 0, 0.6); }
  .App .app-body .video-wrap {
    max-height: 232px; }
  .App .app-body .video-wrap .player {
    width: 100%;
    max-height: 232px; }
  .App .App-intro {
    margin: 0 !important;
    background: #333 !important;
    box-shadow: none !important;
    width: 100% !important; }
  .App .App-intro .cameras-panel {
    height: auto !important;
    flex-wrap: wrap;
    box-shadow: inset 0 -3px 12px 0px rgba(0, 0, 0, 0.6); }
  .App .App-intro .cameras-panel .camera {
    min-width: 165px; }
  .App .App-intro .cameras-panel .camera[data-active=true] {
    transform: scale(1);
    margin: 0; }
  .App .App-details {
    margin: 1em; }
  .App .App-details .left {
    flex-direction: column;
    align-items: flex-start !important; }
  .App .App-details .left .sub-title {
    margin: 0; }
  .App .App-share-info {
    margin: 1em; } }

@media only screen and (device-width: 375px) and (device-height: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .App.fake .container .app-body .player-fake {
    width: 100%;
    height: calc(100vw * 9/16);
    background: #000; }
  .App.fake .container .App-intro .cameras-panel {
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box; }
  .App.fake .container .App-intro .cameras-panel .camera {
    background: #444;
    margin: 0; }
  .App.fake .container .App-details {
    padding: 1em; }
  .App.fake .container .App-details .title {
    margin-bottom: 10px; }
  .App.fake .container .App-details .description {
    width: 320px; }
  .App .container {
    width: 100%; }
  .App .App-header {
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100% !important;
    margin: 0 !important; }
  .App .App-header img {
    margin: 0 !important;
    width: 118px !important;
    height: 16px !important; }
  .App .App-header .right {
    padding-bottom: 0 !important; }
  .App .app-body {
    box-shadow: 0 3px 12px 0px rgba(0, 0, 0, 0.6); }
  .App .app-body .video-wrap {
    max-height: 211px; }
  .App .app-body .video-wrap .player {
    width: 100%;
    max-height: 211px; }
  .App .App-intro {
    margin: 0 !important;
    background: #333 !important;
    box-shadow: none !important;
    width: 100% !important; }
  .App .App-intro .cameras-panel {
    height: auto !important;
    flex-wrap: wrap;
    box-shadow: inset 0 -3px 12px 0px rgba(0, 0, 0, 0.6); }
  .App .App-intro .cameras-panel .camera {
    min-width: 165px; }
  .App .App-intro .cameras-panel .camera[data-active=true] {
    transform: scale(1);
    margin: 0; }
  .App .App-details {
    margin: 1em; }
  .App .App-details .left {
    flex-direction: column;
    align-items: flex-start !important; }
  .App .App-details .left .sub-title {
    margin: 0; }
  .App .App-share-info {
    margin: 1em; } }

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
  .App.fake .container .app-body .player-fake {
    width: 100%;
    height: calc(100vw * 9/16);
    background: #000; }
  .App.fake .container .App-intro .cameras-panel {
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box; }
  .App.fake .container .App-intro .cameras-panel .camera {
    background: #444;
    margin: 0; }
  .App.fake .container .App-details {
    padding: 1em; }
  .App.fake .container .App-details .title {
    margin-bottom: 10px; }
  .App.fake .container .App-details .description {
    width: 320px; }
  .App .container {
    width: 100%; }
  .App .App-header {
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100% !important;
    margin: 0 !important; }
  .App .App-header img {
    margin: 0 !important;
    width: 118px !important;
    height: 16px !important; }
  .App .App-header .right {
    padding-bottom: 0 !important; }
  .App .app-body {
    box-shadow: 0 3px 12px 0px rgba(0, 0, 0, 0.6); }
  .App .app-body .video-wrap {
    max-height: 232px; }
  .App .app-body .video-wrap .player {
    width: 100%;
    max-height: 232px; }
  .App .App-intro {
    margin: 0 !important;
    background: #333 !important;
    box-shadow: none !important;
    width: 100% !important; }
  .App .App-intro .cameras-panel {
    height: auto !important;
    flex-wrap: wrap;
    box-shadow: inset 0 -3px 12px 0px rgba(0, 0, 0, 0.6); }
  .App .App-intro .cameras-panel .camera {
    min-width: 165px; }
  .App .App-intro .cameras-panel .camera[data-active=true] {
    transform: scale(1);
    margin: 0; }
  .App .App-details {
    margin: 1em; }
  .App .App-details .left {
    flex-direction: column;
    align-items: flex-start !important; }
  .App .App-details .left .sub-title {
    margin: 0; }
  .App .App-share-info {
    margin: 1em; } }
