@keyframes flash {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column; }

.App.data-ready {
  animation: flash 1.5s 1 0s; }

.App.fake .container .App-header .right .right-fake {
  width: 200px;
  background: #eee;
  height: 16px;
  border-radius: 100px; }

.App.fake .container .app-body .player-fake {
  width: 800px;
  height: 450px;
  background: #ddd; }

.App.fake .container .App-intro .cameras-panel {
  justify-content: flex-start;
  height: 140px; }

.App.fake .container .App-intro .cameras-panel .camera {
  width: 147px;
  height: 84px;
  background: #eee;
  margin-left: 20px; }

.App.fake .container .App-intro .cameras-panel .camera .overlay {
  opacity: 0; }

.App.fake .container .App-details {
  padding: 1em; }

.App.fake .container .App-details .title {
  width: 250px;
  background: #ddd;
  border-radius: 100px;
  color: #ddd;
  font-size: 1em; }

.App.fake .container .App-details .sub-title {
  width: 200px;
  height: 20px;
  background: #eee;
  border-radius: 100px;
  color: #eee;
  font-size: 1em; }

.App.fake .container .App-details .description {
  width: 500px;
  height: 15px;
  background: #eee;
  border-radius: 100px;
  color: #eee;
  font-size: 1em; }

.App .container {
  width: 800px; }

.App .container .App-header {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.App .container .App-header img {
  width: 200px;
  height: 30px;
  margin: 1em 0; }

.App .container .App-header .right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 1em;
  font-size: 13px;
  color: #555;
  font-weight: 100; }

.App .container .app-body {
  box-sizing: border-box;
  box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2; }

.App .container .App-intro {
  background: #fff;
  font-size: large;
  z-index: 1;
  position: relative;
  margin: 0em 1.5px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.App .container .App-intro .cameras-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px; }

.App .container .App-details {
  padding: 1em;
  margin-top: 1em;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 1.5em;
  font-weight: 100; }

.App .container .App-details .left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start; }

.App .container .App-details .title {
  color: #555;
  font-size: 1.3em;
  font-weight: 800; }

.App .container .App-details .sub-title {
  font-size: 14px;
  color: #888;
  margin-left: 1em; }

.App .container .App-details .description {
  font-size: 16px;
  color: #555;
  text-align: left;
  margin-top: 10px; }

.App .container .App-share-info {
  padding: 1em;
  margin-top: 1em;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 1.5em;
  font-weight: 100; }

.App .container .App-share-info .share-info {
  text-align: left;
  color: #555;
  font-size: 14px; }

.App .container .App-share-info .share-info .share-header {
  margin-bottom: 5px; }

.App .container .App-share-info .share-info .share-message {
  padding: 1em;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1.2em;
  border-radius: 0 8px 0px 8px; }

.App .container .App-share-info .share-info .share-footer {
  text-align: right; }

.App .container .App-share-info .share-info .email {
  color: #0088cc; }

@media only screen and (min-device-width: 412px) and (max-device-width: 435px) and (min-device-height: 732px) and (max-device-height: 773px) and (orientation: portrait) {
  .App.fake .container .app-body .player-fake {
    width: 100%;
    height: calc(100vw * 9/16);
    background: #eee; }
  .App.fake .container .App-intro .cameras-panel {
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box; }
  .App.fake .container .App-details {
    padding: 1em; }
  .App.fake .container .App-details .title {
    margin-bottom: 10px; }
  .App.fake .container .App-details .description {
    width: 320px; }
  .App .container {
    width: 100%; }
  .App .App-header {
    flex-direction: column;
    padding: 1em;
    align-items: flex-start;
    box-sizing: border-box; }
  .App .App-header img {
    margin: 0 0 1em 0 !important; }
  .App .App-header .right {
    padding-bottom: 0 !important; }
  .App .app-body .video-wrap .player {
    width: 100%;
    height: auto; }
  .App .App-intro {
    margin: 0 1em; }
  .App .App-intro .cameras-panel {
    height: auto !important;
    flex-wrap: wrap; }
  .App .App-intro .cameras-panel .camera {
    min-width: 165px; }
  .App .App-intro .cameras-panel .camera[data-active=true] {
    transform: scale(1);
    margin: 0; }
  .App .App-details {
    margin: 1em; }
  .App .App-details .left {
    flex-direction: column;
    align-items: flex-start !important; }
  .App .App-details .left .sub-title {
    margin: 0; }
  .App .App-share-info {
    margin: 1em; } }

@media only screen and (max-device-width: 375), only screen and (max-device-width: 414px), only screen and (max-width: 480px) {
  .App.fake .container .app-body .player-fake {
    width: 100%;
    height: calc(100vw * 9/16);
    background: #eee; }
  .App.fake .container .App-intro .cameras-panel {
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box; }
  .App.fake .container .App-details {
    padding: 1em; }
  .App.fake .container .App-details .title {
    margin-bottom: 10px; }
  .App.fake .container .App-details .description {
    width: 320px; }
  .App .container {
    width: 100%; }
  .App .App-header {
    flex-direction: column;
    padding: 1em;
    align-items: flex-start;
    box-sizing: border-box; }
  .App .App-header img {
    margin: 0 0 1em 0 !important; }
  .App .App-header .right {
    padding-bottom: 0 !important; }
  .App .app-body .video-wrap .player {
    width: 100%;
    height: auto; }
  .App .App-intro {
    margin: 0 1em; }
  .App .App-intro .cameras-panel {
    height: auto !important;
    flex-wrap: wrap; }
  .App .App-intro .cameras-panel .camera {
    min-width: 165px; }
  .App .App-intro .cameras-panel .camera[data-active=true] {
    transform: scale(1);
    margin: 0; }
  .App .App-details {
    margin: 1em; }
  .App .App-details .left {
    flex-direction: column;
    align-items: flex-start !important; }
  .App .App-details .left .sub-title {
    margin: 0; }
  .App .App-share-info {
    margin: 1em; } }
